/* =======================================
 * COLOR
 /* ======================================= */
$white: #ffffff;
$black: #000;
$light-green: #a5d496;
$green: #396045;

/* =======================================
  * OTHERS
  /* ======================================= */

/* =======================================
  * RESPONSIVE MARK
  /* ======================================= */

$information-lg-screen: "only screen and (max-width : 1920px)";
$information-md-screen: "only screen and (max-width : 1680px)";
$information-sm-screen: "only screen and (max-width : 1440px)";
$information-laptop: "only screen and (max-width : 1368px)";
$information-sm-laptop: "only screen and (max-width : 1280px)";
$information-lg-tablet: "only screen and (max-width : 1080px)";
$information-tablet: "only screen and (max-width : 768px)";
$information-lg-phone: "only screen and (max-width : 668px)";
$information-phone: "only screen and (max-width : 480px)";
$information-sm-phone: "only screen and (max-width : 376px)";
$information-lg-tablet: "only screen and (max-width : 1024px)";

/* USAGE */
@media #{$information-sm-laptop} {
}
